<%= form_for [@stock, @transfer] do |f| %>
  <% if transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
      <% transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>

  <div class="field">
    <%= f.label :qunatity %>
    <%= f.number_field :qunatity %>
  </div>

  <div class="field">
    <%= f.label :transfer_date %>
    <%= f.date_select :transfer_date %>
  </div>

  <div class="field">
    <%= f.label :manager %>
    <%= f.text_field :manager %>
  </div>

  <div class="field">
    <%= f.label :stock_id %>
    <%= f.text_field :stock_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
