

  <!-- # Bootstrap Html-->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap Core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/css/stylish-portfolio.min.css" rel="stylesheet">

  </head>

  <body id="page-top">


    <!-- Header -->
    <header class="masthead d-flex">


      <div class="container text-center my-auto">
<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @transfer.brand %>
</p>

<p>
  <strong>Category:</strong>
  <%= @transfer.category %>
</p>

<p>
  <strong>Qunatity:</strong>
  <%= @transfer.qunatity %>
</p>

<p>
  <strong>Transfer date:</strong>
  <%= @transfer.transfer_date %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @transfer.manager %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @transfer.stock %>
</p>

<%= link_to 'Edit', edit_stock_transfer_path(@stock, @transfer ) %> |
<%= link_to 'Back', stock_transfers_path(@stock)%>

 <% if user_signed_in? %>
  <div>Signed in as... <%= current_user.email %>
  (<%= link_to'Sign out', destroy_user_session_path,:method => :delete%>)</div>
  <% else %>
  <%= link_to'Register', new_user_registration_path %> or
  <%= link_to'Sign in', new_user_session_path %>
  <% end %>
  



      </div>

      <div class="overlay"></div>
    </header>


 



    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/jquery/jquery.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/js/stylish-portfolio.min.js"></script>

  </body>

</html>
